[Unit]
Description=Dell G15 5520 Thermal & Smart Fan Curve Background Daemon
Documentation=https://github.com/cypher-21/DELL_G15_5520_FAN_CONTROL
After=default.target

[Service]
Type=simple
ExecStart=/usr/local/bin/dell-g15-fan --daemon
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
